Repository equinor/design-system, pull requests merged in 2020-11, with the labels that each got.

#747 ♻️ Write table stories in typescript and fix props table
  apps/storybook-react/stories/Table.stories.tsx
  libraries/core-react/src/Table/Cell.tsx
  libraries/core-react/src/Table/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#814 Migrate tabs stories to typescript
  apps/storybook-react/stories/Banner.stories.tsx
  apps/storybook-react/stories/Tabs.stories.tsx
  libraries/core-react/src/Tabs/Tab.tsx
  libraries/core-react/src/Tabs/TabList.tsx
  libraries/core-react/src/Tabs/TabPanel.tsx
  libraries/core-react/src/Tabs/TabPanels.tsx
  libraries/core-react/src/Tabs/Tabs.tsx
  libraries/core-react/src/Tabs/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#806 ♻️ Slider story to Typescript
  apps/storybook-react/stories/Slider.stories.tsx
  libraries/core-react/src/Slider/MinMax.tsx
  libraries/core-react/src/Slider/Output.tsx
  libraries/core-react/src/Slider/Slider.test.tsx
  libraries/core-react/src/Slider/Slider.tsx
  libraries/core-react/src/Slider/SliderInput.tsx
  libraries/core-react/src/Slider/index.tsx
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#808 Typescript migration of snackbar stories
  apps/storybook-react/stories/Snackbar.stories.jsx
  apps/storybook-react/stories/Snackbar.stories.tsx
  libraries/core-react/src/Snackbar/Snackbar.tsx
  libraries/core-react/src/Snackbar/SnackbarAction.tsx
  libraries/core-react/src/Snackbar/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#663 Update Figma-broker documentation
  apps/figma-broker/README.md
  package.yaml
Labels: documentation

#752 ♻️ Rewrite Dialog stories in Typescript
  apps/storybook-react/stories/Dialog.stories.jsx
  apps/storybook-react/stories/Dialog.stories.tsx
  libraries/core-react/src/Dialog/Actions.tsx
  libraries/core-react/src/Dialog/CustomContent.tsx
  libraries/core-react/src/Dialog/Dialog.tsx
  libraries/core-react/src/Dialog/Title.tsx
  libraries/core-react/src/Dialog/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#828 ♻️ Export conform for compound components
  libraries/core-react/src/Accordion/index.ts
  libraries/core-react/src/Banner/index.ts
  libraries/core-react/src/Breadcrumbs/index.ts
  libraries/core-react/src/Card/index.ts
  libraries/core-react/src/List/index.ts
  libraries/core-react/src/Popover/index.ts
  libraries/core-react/src/Table/Table.tsx
  libraries/core-react/src/Table/index.ts
  libraries/core-react/src/TableOfContents/index.ts
  libraries/core-react/src/Tabs/index.ts
  libraries/core-react/src/TopBar/index.tsx
Labels: typescript

#829 ♻️ Conform element types
  apps/storybook-react/stories/Divider.stories.tsx
  apps/storybook-react/stories/Popover.stories.tsx
  libraries/core-react/src/Accordion/Accordion.tsx
  libraries/core-react/src/Accordion/AccordionHeader.tsx
  libraries/core-react/src/Accordion/AccordionHeaderTitle.tsx
  libraries/core-react/src/Accordion/AccordionItem.tsx
  libraries/core-react/src/Accordion/AccordionPanel.tsx
  libraries/core-react/src/Avatar/Avatar.tsx
  libraries/core-react/src/Banner/BannerActions.tsx
  libraries/core-react/src/Banner/BannerIcon.tsx
  libraries/core-react/src/Breadcrumbs/Breadcrumb.tsx
  libraries/core-react/src/Card/Card.tsx
  libraries/core-react/src/Card/CardActions.tsx
  libraries/core-react/src/Card/CardHeader.tsx
  libraries/core-react/src/Card/CardHeaderTitle.tsx
  libraries/core-react/src/Card/CardMedia.tsx
  libraries/core-react/src/Chip/Chip.tsx
  libraries/core-react/src/Dialog/Title.tsx
  libraries/core-react/src/Divider/Divider.tsx
  libraries/core-react/src/Paper/Paper.tsx
  libraries/core-react/src/Paper/index.js
  libraries/core-react/src/Paper/index.ts
  libraries/core-react/src/Popover/PopoverItem.tsx
  libraries/core-react/src/Progress/Circular/CircularProgress.tsx
  libraries/core-react/src/Progress/Dots/DotProgress.tsx
  libraries/core-react/src/Progress/Linear/LinearProgress.tsx
  libraries/core-react/src/Progress/Star/StarProgress.tsx
  libraries/core-react/src/SelectionControls/Checkbox/Checkbox.tsx
  libraries/core-react/src/SelectionControls/Radio/Radio.tsx
  libraries/core-react/src/SelectionControls/Switch/Input.tsx
  libraries/core-react/src/SelectionControls/Switch/Switch.tsx
  libraries/core-react/src/SelectionControls/Switch/SwitchDefault.tsx
  libraries/core-react/src/SelectionControls/Switch/SwitchSmall.tsx
  libraries/core-react/src/Slider/MinMax.tsx
  libraries/core-react/src/Slider/Output.tsx
  libraries/core-react/src/Slider/SliderInput.tsx
  libraries/core-react/src/Table/Cell.tsx
  libraries/core-react/src/TableOfContents/LinkItem.tsx
  libraries/core-react/src/Tooltip/Tooltip.tsx
Labels: typescript

#846 Get the storefront up and running again after Typescript migration
  .npmrc
  apps/storefront/docs/components/accordion/usage.mdx
  apps/storefront/docs/components/buttons/usage.mdx
  apps/storefront/docs/components/cards/usage.mdx
  apps/storefront/docs/components/chips/usage.mdx
  apps/storefront/docs/components/divider/usage.mdx
  apps/storefront/docs/components/lists/usage.mdx
  apps/storefront/docs/components/navigation-table-of-contents/usage.mdx
  apps/storefront/docs/components/navigation-tabs/usage.mdx
  apps/storefront/docs/components/navigation-top-bar/usage.mdx
  apps/storefront/docs/components/notification-banner/usage.mdx
  apps/storefront/docs/components/notification-dialog/usage.mdx
  apps/storefront/docs/components/notification-snackbar/usage.mdx
  apps/storefront/docs/components/popovers/usage.mdx
  apps/storefront/docs/components/progress-indicators/usage.mdx
  apps/storefront/docs/components/scrim/usage.mdx
  apps/storefront/docs/components/search/usage.mdx
  apps/storefront/docs/components/selection-controls/usage.mdx
  apps/storefront/docs/components/side-sheet/usage.mdx
  apps/storefront/docs/components/slider/usage.mdx
  apps/storefront/docs/components/table/usage.mdx
  apps/storefront/docs/components/text-fields/usage.mdx
  apps/storefront/docs/components/tooltip/usage.mdx
  apps/storefront/doczrc.js
  apps/storefront/gatsby-config.js
  apps/storefront/package.json
  apps/storefront/pnpm-lock.yaml
  apps/storefront/src/components/PropsTable.jsx
  package.yaml
Labels: typescript

#847 🚨 Fix TS warnings
  libraries/core-react/src/Chip/Chip.tsx
  libraries/core-react/src/Divider/Divider.tokens.ts
  libraries/core-react/src/Search/Search.test.tsx
  libraries/core-react/src/Search/Search.tsx
  libraries/core-react/src/SelectionControls/Checkbox/Checkbox.tokens.ts
  libraries/core-react/src/Tabs/TabList.tsx
  libraries/core-react/src/Typography/Typography.tsx
  pnpm-lock.yaml
Labels: typescript

#730 Rewrite _commons to Typescript
  libraries/core-react/src/Menu/Menu.tsx
  libraries/core-react/src/Menu/MenuItem.tsx
  libraries/core-react/src/Search/Search.tsx
  libraries/core-react/src/Tabs/TabList.tsx
  libraries/core-react/src/_common/hooks/index.ts
  libraries/core-react/src/_common/hooks/useOutsideClick.js
  libraries/core-react/src/_common/hooks/useOutsideClick.ts
  libraries/core-react/src/_common/index.ts
  libraries/core-react/src/_common/setReactInputValue.js
  libraries/core-react/src/_common/setReactInputValue.ts
  libraries/core-react/src/_common/useCombinedRefs.js
  libraries/core-react/src/_common/useCombinedRefs.ts
  libraries/core-react/src/_common/useKeyPress.ts
Labels: typescript

#893 ⬆️ Use @next in the Storefront
  apps/storefront/Dockerfile
  apps/storefront/package.json
  apps/storefront/pnpm-lock.yaml
  package.yaml
Labels: storefront

#879 Native select
  apps/storybook-react/stories/Select/NativeSelect.stories.tsx
  libraries/core-react/.size-snapshot.json
  libraries/core-react/src/Label/Label.tokens.ts
  libraries/core-react/src/Label/Label.tsx
  libraries/core-react/src/Label/index.ts
  libraries/core-react/src/Select/NativeSelect/NativeSelect.test.tsx
  libraries/core-react/src/Select/NativeSelect/NativeSelect.tsx
  libraries/core-react/src/Select/NativeSelect/Select/Select.tokens.ts
  libraries/core-react/src/Select/NativeSelect/Select/Select.tsx
  libraries/core-react/src/Select/NativeSelect/Select/index.ts
  libraries/core-react/src/Select/NativeSelect/index.ts
  libraries/core-react/src/Select/index.ts
  libraries/core-react/src/TextField/TextField.tsx
  libraries/core-react/src/index.ts
Labels: react

#885 📝 Added 'rows' to TextField prop table
  apps/storybook-react/stories/TextField.stories.tsx
Labels: bug-fix, documentation

#883 Manage and document z-index values
  .gitignore
  apps/storybook-react/stories/zIndex.stories.tsx
  libraries/core-react/src/Chip/Chip.tsx
  libraries/core-react/src/Chip/Icon.tsx
  libraries/core-react/src/Menu/Menu.tsx
  libraries/core-react/src/Popover/PopoverItem.tsx
  libraries/core-react/src/Scrim/Scrim.tsx
  libraries/core-react/src/SideSheet/SideSheet.tsx
  libraries/core-react/src/Snackbar/Snackbar.tsx
  libraries/core-react/src/Tooltip/Tooltip.tsx
  libraries/core-react/src/TopBar/TopBar.tsx
Labels: documentation, storybook

#899 ♻️ Fix some of the minor issues discovered by working on the Select
  libraries/core-react/src/components/TextField/Input/Input.tokens.ts
  libraries/core-react/src/components/TextField/Input/Input.tsx
Labels: bug, react

#917 Release eds-icons@0.5.0
  libraries/icons/CHANGELOG.md
  libraries/icons/package.json
Labels: npm

#922 Don't show Tooltip if title is empty
  libraries/core-react/src/components/Tooltip/Tooltip.tsx
Labels: bug-fix, react

#913 Release eds-tokens@0.5.0
  libraries/tokens/CHANGELOG.md
  libraries/tokens/package.json
Labels: npm, react

#912 Release eds-core-react@0.7.0
  libraries/core-react/CHANGELOG.md
  libraries/core-react/package.json
Labels: npm, react

#924 Update README
  libraries/core-react/CHANGELOG.md
  libraries/core-react/README.md
  libraries/core-react/package.json
  libraries/icons/CHANGELOG.md
  libraries/icons/README.md
  libraries/icons/package.json
  libraries/tokens/CHANGELOG.md
  libraries/tokens/README.md
  libraries/tokens/package.json
Labels: npm

#926 Page for Select documentation
  apps/storefront/docs/components/select/overview.mdx
  apps/storefront/docs/components/select/usage.mdx
  apps/storefront/src/gatsby-theme-docz/wrapper.js
Labels: storefront

#910 Base Table tokens
  apps/storybook-react/stories/Table.stories.tsx
  libraries/core-react/package.json
  libraries/core-react/pnpm-lock.yaml
  libraries/core-react/src/components/Table/Cell.tsx
  libraries/core-react/src/components/Table/Cell/DataCell.tokens.ts
  libraries/core-react/src/components/Table/Cell/DataCell.tsx
  libraries/core-react/src/components/Table/Cell/HeaderCell.tokens.ts
  libraries/core-react/src/components/Table/Cell/HeaderCell.tsx
  libraries/core-react/src/components/Table/Cell/index.tsx
  libraries/core-react/src/components/Table/Head.tsx
  libraries/core-react/src/components/Table/Table.tokens.ts
  libraries/core-react/src/components/Table/Table.types.ts
  libraries/core-react/src/utils/templates/borders.ts
  libraries/core-react/src/utils/templates/common.ts
  libraries/core-react/src/utils/templates/focus.ts
  libraries/core-react/src/utils/templates/index.ts
  libraries/tokens/components/table/table.ts
  libraries/tokens/index.ts
  libraries/tokens/src/types/borders.ts
  libraries/tokens/src/types/component.ts
  libraries/tokens/src/types/focus.ts
  libraries/tokens/src/types/index.ts
Labels: react
