Repository equinor/design-system, pull requests merged in 2020-12, with the labels that each got.

#937 🐛 Fix storybook
  apps/storybook-react/.storybook/main.js
  apps/storybook-react/.storybook/webpack.config.js
  apps/storybook-react/Dockerfile.dev
  apps/storybook-react/package.json
  apps/storybook-react/pnpm-lock.yaml
  libraries/core-react/package-lock.json
  libraries/core-react/package.json
  libraries/core-react/pnpm-lock.yaml
  libraries/icons/package.json
  libraries/tokens/package.json
  package.yaml
Labels: bug-fix, storybook

#967 Release eds-tokens
  libraries/tokens/CHANGELOG.md
  libraries/tokens/package.json
Labels: npm

#966 Release eds-core-react
  libraries/core-react/CHANGELOG.md
  libraries/core-react/README.md
  libraries/core-react/package.json
Labels: npm, react

#975 🔖 Release new versions of the libraries
  libraries/core-react/CHANGELOG.md
  libraries/core-react/package.json
  libraries/icons/CHANGELOG.md
  libraries/icons/package.json
  libraries/tokens/CHANGELOG.md
  libraries/tokens/package.json
Labels: react

#976 🐛 Remove unintended button width
  libraries/core-react/src/components/Button/tokens/button.ts
Labels: react

#982 Table: Hover & Error state on rows
  apps/storybook-react/stories/Table.stories.tsx
  libraries/core-react/src/components/Table/Cell/DataCell.tsx
  libraries/core-react/src/components/Table/Cell/index.tsx
  libraries/core-react/src/components/Table/Row.tsx
  libraries/core-react/src/components/Table/Table.test.tsx
  libraries/core-react/src/components/Table/Table.tsx
  libraries/core-react/src/components/Table/Table.types.ts
Labels: react

#986 🐛 Fixed missing primary color on icon button
  libraries/core-react/src/components/Button/tokens/icon.ts
Labels: react

#985 ✨ Add compact table
  apps/storybook-react/stories/Table.stories.tsx
  libraries/core-react/src/components/Table/Cell/DataCell.tokens.ts
  libraries/core-react/src/components/Table/Cell/DataCell.tsx
  libraries/core-react/src/components/Table/Cell/HeaderCell.tokens.ts
  libraries/core-react/src/components/Table/Cell/HeaderCell.tsx
  libraries/core-react/src/components/Table/Cell/utils.ts
  libraries/core-react/src/components/Table/Table.context.tsx
  libraries/core-react/src/components/Table/Table.test.tsx
  libraries/core-react/src/components/Table/Table.tsx
  libraries/core-react/src/components/Table/Table.types.ts
  libraries/core-react/src/components/Table/index.tsx
Labels: react
