Repository equinor/design-system, pull requests merged in 2020-10, with the labels that each got.

#676 fix link to edit page on github in storefront
  apps/storefront/src/components/EditPageOnGithub.jsx
  apps/storefront/src/gatsby-theme-docz/components/MainContainer/index.js
Labels: hacktoberfest-accepted

#702 Fixed Accordion tests
  libraries/core-react/src/Accordion/AccordionHeader.tsx
Labels: react, typescript

#690 Typescript conversion of Chips
  .gitignore
  libraries/core-react/src/Chip/Chip.test.tsx
  libraries/core-react/src/Chip/Chip.tokens.ts
  libraries/core-react/src/Chip/Chip.tsx
  libraries/core-react/src/Chip/Icon.tsx
  libraries/core-react/src/Chip/index.ts
  libraries/core-react/src/Icon/Icon.tsx
Labels: hacktoberfest-accepted, react, typescript

#705 Fix Chip tests
  libraries/core-react/src/Chip/Chip.test.tsx
  libraries/core-react/src/Chip/Icon.tsx
Labels: hacktoberfest-accepted

#703 fix: Accordion can't handle null value as child
  libraries/core-react/src/Accordion/Accordion.jsx
Labels: hacktoberfest-accepted

#683 Convert Dialog to typescript
  libraries/core-react/src/Dialog/Actions.jsx
  libraries/core-react/src/Dialog/Actions.tsx
  libraries/core-react/src/Dialog/CustomContent.jsx
  libraries/core-react/src/Dialog/CustomContent.tsx
  libraries/core-react/src/Dialog/Dialog.test.tsx
  libraries/core-react/src/Dialog/Dialog.tokens.ts
  libraries/core-react/src/Dialog/Dialog.tsx
  libraries/core-react/src/Dialog/Title.tsx
  libraries/core-react/src/Dialog/index.js
  libraries/core-react/src/Dialog/index.ts
Labels: react, typescript

#700 Breadcrumbs Types
  libraries/core-react/src/Breadcrumbs/Breadcrumb.tsx
  libraries/core-react/src/Breadcrumbs/Breadcrumbs.test.tsx
  libraries/core-react/src/Breadcrumbs/Breadcrumbs.tokens.ts
  libraries/core-react/src/Breadcrumbs/Breadcrumbs.tsx
  libraries/core-react/src/Breadcrumbs/index.js
  libraries/core-react/src/Breadcrumbs/index.ts
Labels: typescript

#706 Refactor Sidesheet to typescript
  libraries/core-react/src/SideSheet/SideSheet.jsx
  libraries/core-react/src/SideSheet/SideSheet.test.tsx
  libraries/core-react/src/SideSheet/SideSheet.tokens.ts
  libraries/core-react/src/SideSheet/SideSheet.tsx
  libraries/core-react/src/SideSheet/index.ts
Labels: hacktoberfest-accepted, react, typescript

#704 Typescript pagination
  libraries/core-react/src/Pagination/Pagination.test.tsx
  libraries/core-react/src/Pagination/Pagination.tokens.ts
  libraries/core-react/src/Pagination/Pagination.tsx
  libraries/core-react/src/Pagination/PaginationItem.jsx
  libraries/core-react/src/Pagination/PaginationItem.tsx
  libraries/core-react/src/Pagination/index.ts
  libraries/core-react/src/Pagination/paginationControl.ts
Labels: react, typescript

#699 Refactor Card to typescript
  libraries/core-react/src/Card/Card.test.tsx
  libraries/core-react/src/Card/Card.tokens.ts
  libraries/core-react/src/Card/Card.tsx
  libraries/core-react/src/Card/CardActions.jsx
  libraries/core-react/src/Card/CardActions.tsx
  libraries/core-react/src/Card/CardHeader.jsx
  libraries/core-react/src/Card/CardHeader.tsx
  libraries/core-react/src/Card/CardHeaderTitle.jsx
  libraries/core-react/src/Card/CardHeaderTitle.tsx
  libraries/core-react/src/Card/CardMedia.tsx
  libraries/core-react/src/Card/index.ts
  libraries/core-react/src/Card/save
Labels: react, typescript

#712 Slider Typescript
  apps/storybook-react/stories/Slider.stories.jsx
  libraries/core-react/src/Slider/MinMax.tsx
  libraries/core-react/src/Slider/Output.tsx
  libraries/core-react/src/Slider/Slider.test.tsx
  libraries/core-react/src/Slider/Slider.tokens.ts
  libraries/core-react/src/Slider/Slider.tsx
  libraries/core-react/src/Slider/SliderInput.tsx
  libraries/core-react/src/Slider/index.tsx
Labels: react, typescript

#695 Typescript for popovers
  libraries/core-react/src/Popover/Popover.jsx
  libraries/core-react/src/Popover/Popover.test.tsx
  libraries/core-react/src/Popover/Popover.tokens.ts
  libraries/core-react/src/Popover/Popover.tsx
  libraries/core-react/src/Popover/PopoverAnchor.jsx
  libraries/core-react/src/Popover/PopoverAnchor.tsx
  libraries/core-react/src/Popover/PopoverContent.jsx
  libraries/core-react/src/Popover/PopoverContent.tsx
  libraries/core-react/src/Popover/PopoverItem.jsx
  libraries/core-react/src/Popover/PopoverItem.tsx
  libraries/core-react/src/Popover/PopoverTitle.jsx
  libraries/core-react/src/Popover/PopoverTitle.tsx
  libraries/core-react/src/Popover/index.ts
Labels: react, typescript

#725 Typescript declarations for eds-tokens
  libraries/tokens/package.json
  libraries/tokens/rollup.config.js
  libraries/tokens/tsconfig.json
Labels: typescript

#715 Tabs typescript
  libraries/core-react/src/Tabs/Tab.tsx
  libraries/core-react/src/Tabs/TabList.tsx
  libraries/core-react/src/Tabs/TabPanel.tsx
  libraries/core-react/src/Tabs/TabPanels.jsx
  libraries/core-react/src/Tabs/TabPanels.tsx
  libraries/core-react/src/Tabs/Tabs.context.js
  libraries/core-react/src/Tabs/Tabs.context.ts
  libraries/core-react/src/Tabs/Tabs.test.tsx
  libraries/core-react/src/Tabs/Tabs.tokens.ts
  libraries/core-react/src/Tabs/Tabs.tsx
  libraries/core-react/src/Tabs/Tabs.types.ts
  libraries/core-react/src/Tabs/index.js
  libraries/core-react/src/Tabs/index.ts
Labels: react, typescript

#727 Typescript declarations for eds-icons
  libraries/icons/package.json
  libraries/icons/rollup.config.js
  libraries/icons/tsconfig.json
Labels: typescript

#729 Children type checking
  libraries/core-react/src/Accordion/AccordionHeader.tsx
  libraries/core-react/src/Menu/MenuItem.tsx
  libraries/core-react/src/Menu/MenuList.tsx
  libraries/core-react/src/Menu/MenuSection.tsx
  libraries/core-react/src/Popover/Popover.tsx
Labels: react, typescript

#734 Clean up spacings in CardMedia
  libraries/core-react/src/Card/CardMedia.tsx
Labels: hacktoberfest-accepted

#731 Bugfix in develop moved to typescript branch
  libraries/core-react/src/Accordion/Accordion.tsx
Labels: bug-fix, typescript

#744 🎨 Improve story for Divider
  apps/storybook-react/stories/Divider.stories.tsx
  libraries/core-react/src/Divider/Divider.tsx
  libraries/core-react/src/Divider/index.ts
Labels: storybook, typescript

#698 Update placement-and-order.mdx
  apps/storefront/docs/patterns/placement-and-order/placement-and-order.mdx
  apps/storefront/src/components/EditPageOnGithub.jsx
  apps/storefront/src/gatsby-theme-docz/components/MainContainer/index.js
Labels: documentation

#697 Update spacings.mdx
  apps/storefront/docs/patterns/spacings/spacing-usage.mdx
  apps/storefront/docs/patterns/spacings/spacings.mdx
Labels: documentation

#696 Update grid-alignment.mdx
  apps/storefront/docs/patterns/grid-alignment/grid-alignment.mdx
Labels: documentation

#750 🔧 Lint stories
  apps/storybook-react/stories/.eslintrc.yaml
Labels: storybook

#741 Typography story
  apps/storybook-react/stories/Typography.stories.tsx
  libraries/core-react/src/Banner/BannerMessage.tsx
  libraries/core-react/src/Typography/Typography.tsx
  libraries/core-react/src/Typography/index.js
  libraries/core-react/src/Typography/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#745 Typescript for button story
  apps/storybook-react/stories/Button.stories.tsx
  apps/storybook-react/stories/Divider.stories.tsx
  libraries/core-react/src/Button/Button.tsx
  libraries/core-react/src/Button/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#739 Banner story with typescript
  apps/storybook-react/package.json
  apps/storybook-react/pnpm-lock.yaml
  apps/storybook-react/stories/Banner.stories.jsx
  apps/storybook-react/stories/Banner.stories.tsx
  libraries/core-react/src/Banner/Banner.tsx
  libraries/core-react/src/Banner/BannerActions.tsx
  libraries/core-react/src/Banner/BannerMessage.tsx
  libraries/core-react/src/Banner/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#751 Storybook default view mode to docs mode
  apps/storybook-react/.storybook/preview.js
Labels: storybook, typescript

#759 🐛 Fix divider story
  apps/storybook-react/stories/Divider.stories.tsx
  libraries/core-react/src/index.ts
Labels: bug, storybook, typescript

#753 Typescript for list stories
  apps/storybook-react/stories/Lists.stories.jsx
  apps/storybook-react/stories/Lists.stories.tsx
  libraries/core-react/src/List/List.tsx
  libraries/core-react/src/List/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#756 Migrate Card story to typescript
  apps/storybook-react/package.json
  apps/storybook-react/pnpm-lock.yaml
  apps/storybook-react/stories/Card.stories.jsx
  apps/storybook-react/stories/Card.stories.tsx
  libraries/core-react/src/Card/Card.tsx
  libraries/core-react/src/Card/CardActions.tsx
  libraries/core-react/src/Card/CardHeader.tsx
  libraries/core-react/src/Card/CardHeaderTitle.tsx
  libraries/core-react/src/Card/CardMedia.tsx
  libraries/core-react/src/Card/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#742 Typescript Story: Avatar
  apps/storybook-react/stories/Avatar.stories.jsx
  apps/storybook-react/stories/Avatar.stories.tsx
  libraries/core-react/src/Avatar/Avatar.tsx
  libraries/core-react/src/Avatar/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#761 Typescript for Progress stories
  apps/storybook-react/stories/Progress Indicators/Circular.stories.jsx
  apps/storybook-react/stories/Progress Indicators/Circular.stories.tsx
  apps/storybook-react/stories/Progress Indicators/Dots.stories.jsx
  apps/storybook-react/stories/Progress Indicators/Dots.stories.tsx
  apps/storybook-react/stories/Progress Indicators/Linear.stories.jsx
  apps/storybook-react/stories/Progress Indicators/Linear.stories.tsx
  apps/storybook-react/stories/Progress Indicators/Star.stories.jsx
  apps/storybook-react/stories/Progress Indicators/Star.stories.tsx
  apps/storybook-react/stories/Progress Indicators/hooks/useProgress.ts
  libraries/core-react/src/Progress/Circular/CircularProgress.tsx
  libraries/core-react/src/Progress/Dots/DotProgress.tsx
  libraries/core-react/src/Progress/Linear/LinearProgress.tsx
  libraries/core-react/src/Progress/Star/StarProgress.tsx
  libraries/core-react/src/Progress/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#793 Accordion story typescript
  apps/storybook-react/stories-disabled/Accordion/Accordion.docs.mdx
  apps/storybook-react/stories/Accordion.stories.tsx
  libraries/core-react/src/Accordion/AccordionHeader.tsx
  libraries/core-react/src/Accordion/AccordionHeaderTitle.tsx
  libraries/core-react/src/Accordion/AccordionPanel.tsx
  libraries/core-react/src/Accordion/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#796 ♻️ Pagination Story to Typescript
  apps/storybook-react/stories/Pagination.stories.tsx
  libraries/core-react/src/Pagination/Pagination.tsx
  libraries/core-react/src/Pagination/PaginationItem.tsx
  libraries/core-react/src/Pagination/index.ts
  libraries/core-react/src/Pagination/paginationControl.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#795 Typescript for Chip story
  apps/storybook-react/stories/Chips.stories.jsx
  apps/storybook-react/stories/Chips.stories.tsx
  libraries/core-react/src/Chip/Chip.tsx
  libraries/core-react/src/Chip/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#802 ♻️ Scrim story to Typescript
  apps/storybook-react/stories/Scrim.stories.tsx
  libraries/core-react/src/Scrim/Scrim.test.tsx
  libraries/core-react/src/Scrim/Scrim.tsx
  libraries/core-react/src/Scrim/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#798 Typescript migration of selection control stories
  apps/storybook-react/stories/SelectionControls.Checkbox.stories.jsx
  apps/storybook-react/stories/SelectionControls.Checkbox.stories.tsx
  apps/storybook-react/stories/SelectionControls.Radio.stories.jsx
  apps/storybook-react/stories/SelectionControls.Radio.stories.tsx
  apps/storybook-react/stories/SelectionControls.Switch.stories.tsx
  libraries/core-react/src/SelectionControls/Checkbox/Checkbox.tsx
  libraries/core-react/src/SelectionControls/Radio/Radio.tsx
  libraries/core-react/src/SelectionControls/Switch/Input.tsx
  libraries/core-react/src/SelectionControls/Switch/InputWrapper.tsx
  libraries/core-react/src/SelectionControls/Switch/Switch.tsx
  libraries/core-react/src/SelectionControls/Switch/SwitchDefault.tsx
  libraries/core-react/src/SelectionControls/Switch/SwitchSmall.tsx
  libraries/core-react/src/SelectionControls/index.js
  libraries/core-react/src/SelectionControls/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#797 ♻️ Popover story to Typescript
  apps/storybook-react/stories/Popover.stories.tsx
  libraries/core-react/src/Popover/Popover.test.tsx
  libraries/core-react/src/Popover/Popover.tsx
  libraries/core-react/src/Popover/PopoverItem.tsx
  libraries/core-react/src/Popover/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#803 ♻️ Sidesheet story to Typescript
  apps/storybook-react/stories/SideSheet.stories.jsx
  apps/storybook-react/stories/SideSheet.stories.tsx
  libraries/core-react/src/SideSheet/SideSheet.tsx
  libraries/core-react/src/SideSheet/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript

#804 ♻️ Tooltip story to Typescript
  apps/storybook-react/stories/Tooltip.stories.tsx
  libraries/core-react/src/Tooltip/Tooltip.tsx
  libraries/core-react/src/Tooltip/index.ts
  libraries/core-react/src/index.ts
Labels: storybook, typescript
