Repository equinor/design-system, pull requests merged in 2020-07, with the labels that each got.

#404 Bump storefront redesign version
  apps/storefront/package.json
Labels: storefront

#410 Set eslint error level to warn for stories
  apps/storybook-react/.eslintrc.yaml
  package.yaml
Labels: storybook

#415 Bugfix - Left aligned table header text
  libraries/core-react/src/Table/Head.jsx
Labels: bug-fix

#416 Small Switch off state color change
  libraries/core-react/src/SelectionControls/Switch/Input.jsx
  libraries/core-react/src/SelectionControls/Switch/Switch.tokens.js
  libraries/core-react/src/SelectionControls/Switch/SwitchSmall.jsx
Labels: bug-fix

#467 Button content alignments fix for Webkit browsers
  libraries/core-react/src/Button/Button.jsx
Labels: react

#471 Prepare release of EDS Tokens@0.3.0
  libraries/tokens/CHANGELOG.md
  libraries/tokens/base/colors.js
  libraries/tokens/base/typography.js
  libraries/tokens/components/table/table.json
  libraries/tokens/elements.css
  libraries/tokens/package.json
  libraries/tokens/tokens.css
Labels: tokens

#472 Prepare release of EDS Core@0.5.0
  apps/storybook-react/package.json
  libraries/core-react/CHANGELOG.md
  libraries/core-react/package.json
  libraries/core-react/pnpm-lock.yaml
  libraries/core-react/rollup.config.js
  libraries/core-react/src/Accordion/Accordion.jsx
  libraries/core-react/src/Tabs/Tabs.jsx
Labels: react, storybook
