Repository equinor/design-system, pull requests merged in 2020-09, with the labels that each got.

#391 Menu
  apps/storybook-react/stories/Menu.stories.jsx
  libraries/core-react/src/Menu/Menu.context.jsx
  libraries/core-react/src/Menu/Menu.jsx
  libraries/core-react/src/Menu/Menu.test.jsx
  libraries/core-react/src/Menu/Menu.tokens.js
  libraries/core-react/src/Menu/MenuItem.jsx
  libraries/core-react/src/Menu/MenuList.jsx
  libraries/core-react/src/Menu/MenuSection.jsx
  libraries/core-react/src/Menu/index.jsx
  libraries/core-react/src/Menu/test-utils.jsx
  libraries/core-react/src/Paper/Paper.jsx
  libraries/core-react/src/Paper/Paper.tokens.jsx
  libraries/core-react/src/Paper/index.js
  libraries/core-react/src/index.js
Labels: react

#537 Fix Dialog elevation color
  libraries/core-react/src/Dialog/Dialog.tokens.js
Labels: bug-fix, react

#538 Use correct color token for action in snackbar
  apps/storybook-react/stories/Snackbar.stories.jsx
  libraries/core-react/src/Snackbar/Snackbar.jsx
  libraries/core-react/src/Snackbar/Snackbar.tokens.js
Labels: bug-fix, react

#541 Loosened up type checking for Tabs components
  apps/storybook-react/stories/Tabs.stories.jsx
  libraries/core-react/src/Tabs/TabList.jsx
  libraries/core-react/src/Tabs/TabPanels.jsx
Labels: bug-fix, react

#549 Updated status for components on Storefront
  apps/storefront/src/data/component-status/component-status.yaml
Labels: storefront

#591 Added support for close on Menu when clicking outside
  apps/storybook-react/stories/Menu.stories.jsx
  libraries/core-react/src/Menu/Menu.jsx
  libraries/core-react/src/_common/hooks/index.js
  libraries/core-react/src/_common/hooks/useOutsideClick.js
Labels: react

#592 Bugfix onClose for Menu
  apps/storybook-react/stories/Menu.stories.jsx
  libraries/core-react/src/Menu/Menu.context.jsx
  libraries/core-react/src/Menu/Menu.jsx
  libraries/core-react/src/Menu/Menu.test.jsx
  libraries/core-react/src/Menu/MenuItem.jsx
  libraries/core-react/src/Menu/MenuList.jsx
Labels: bug-fix

#593 Support for directly setting icon on Icon component
  apps/storybook-react/stories/Icon.stories.jsx
  libraries/core-react/src/Icon/Icon.jsx
  libraries/core-react/src/Icon/Icon.test.jsx
Labels: react

#590 Update eds-icons with latest changes
  apps/storefront/src/assets/icons/system-icons.json
  apps/storybook-react/stories/Icon.stories.jsx
  libraries/icons/index.js
  libraries/static/icons/system-icons.svg
  libraries/static/icons/system-icons/ui-views/filter_alt.svg
Labels: figma-broker, icons

#609 Divider width 100%
  libraries/core-react/src/Divider/Divider.jsx
  libraries/core-react/src/Popover/PopoverTitle.jsx
Labels: bug-fix

#606 Release eds-core-react@0.6.2
  libraries/core-react/CHANGELOG.md
  libraries/core-react/package.json
  libraries/core-react/src/Icon/README.md
Labels: react

#616 Icon & eds-icons refactor to typescript
  apps/figma-broker/actions/createAssets.js
  apps/figma-broker/constants.js
  libraries/core-react/src/Icon/Icon.jsx
  libraries/core-react/src/Icon/Icon.test.tsx
  libraries/core-react/src/Icon/Icon.tsx
  libraries/core-react/src/Icon/Icon.types.tsx
  libraries/core-react/src/Icon/index.js
  libraries/core-react/src/Icon/index.ts
  libraries/core-react/src/Icon/library.js
  libraries/core-react/src/Icon/library.ts
  libraries/icons/index.ts
  libraries/icons/src/data.ts
  libraries/icons/src/types.ts
Labels: react, typescript

#618 Topbar typescript
  libraries/core-react/src/TopBar/Actions.jsx
  libraries/core-react/src/TopBar/Actions.tsx
  libraries/core-react/src/TopBar/CustomContent.jsx
  libraries/core-react/src/TopBar/CustomContent.tsx
  libraries/core-react/src/TopBar/Header.jsx
  libraries/core-react/src/TopBar/Header.tsx
  libraries/core-react/src/TopBar/TopBar.test.tsx
  libraries/core-react/src/TopBar/TopBar.tokens.ts
  libraries/core-react/src/TopBar/TopBar.tsx
  libraries/core-react/src/TopBar/index.js
  libraries/core-react/src/TopBar/index.tsx
  libraries/core-react/src/_common/templates.ts
Labels: react, typescript

#625 Added typescript declarations to core-react
  libraries/core-react/package.json
  libraries/core-react/pnpm-lock.yaml
  libraries/core-react/rollup.config.js
  libraries/core-react/src/Menu/Menu.context.jsx
  libraries/core-react/src/Menu/Menu.jsx
  libraries/core-react/src/Menu/Menu.test.jsx
  libraries/core-react/src/Menu/MenuItem.jsx
  libraries/core-react/src/Menu/MenuList.jsx
  libraries/core-react/src/Menu/MenuSection.jsx
  libraries/core-react/src/Menu/index.jsx
  libraries/core-react/src/Paper/Paper.jsx
  libraries/core-react/src/index.ts
  libraries/core-react/tsconfig.json
Labels: react, typescript
